.root {
	margin: 1rem;
	padding: 1rem;
	background-color: var(--color-bg1);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand {
	font-size: 2rem;
	font-weight: 300;
}

.nav {
	display: flex;
	align-items: center;
	gap: 2.5rem;
}

.search {
	display: flex;
	align-items: center;
  
	/* input yerine .search-input class'ını kullan */
	.search-input {
	  padding: 8px;
	  margin-right: 8px;
	}
  
	/* button yerine .search-button class'ını kullan */
	.search-button {
	  padding: 8px 16px;
	  background-color: #ff0000;
	  color: #fff;
	  border: none;
	  cursor: pointer;
	}
  }